section.actions {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.logo-cotainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.cover {
    height: 36vw;
    width: 100%;
    object-fit: cover;
    margin-top: -14vw;;
  }

  .grid {
    width: 85%;
    margin: 1em auto;
  }

  .mail {
    object-fit: contain;
    height: 20%;
    width: 20%;
  }

  .start-give-wrapper {
    background-color: var(--dark-blue-cover);
    color: white;
    font-size: 1.5em;
    display: inline-flex;
    flex-flow: column;
    height: 200px;
    justify-content: flex-end;
    position: relative;
}

.cube {
    width: calc(50% - 4px);
    margin: 2px;
}
.cube:hover {
    opacity: 0.8;
}
.cube span {
    position: absolute;
    top: -3%;
    display: block;
    width: 122px;
    left: 74%;
    line-height: initial;
}

.blue {
    background-color: #0C529B !important;
}
.cube h4 {
    position: relative;
    top: 88px;
    cursor: pointer
}
.cube h4:hover {
    opacity: 0.8;
}
.long-text {
    position: absolute;
    top: -3%;
    left: 0 !important;
    display: block;
    width: 93% !important;
    font-size: 20px;
    padding: 20px;
    line-height: normal;
}
