button.s-btn {
        border: none;
        color: white;
        cursor: pointer;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5em;
        width: 49%;
        height: 100px;
      }

.donate {
    background-color: var(--main-btn-color);
}
.start-give-wrapper {
    background-color: var(--dark-blue-cover);
    color: white;
    font-size: 1.5em;
    display: inline-flex;
    flex-flow: column;
    height: 200px;
    justify-content: flex-end;
}

.cube {
    width: calc(50% - 4px);
    margin: 2px;
}
.voluteer {
    background-color: var(--secondary-btn-color);
}
.n-logo {
    height: 30px;
}
.trans {
    margin-top: 13px;
    cursor: pointer;
    outline: none;
  }
  .trans :hover {
      opacity: 0.8;
  }