.App {
    height: 100%;
    width: 100%;
}
.app-flex {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
nav {
    font-size: 1.1em;
    justify-content: space-between;
}
main {
    flex: 1;
}
.footer {
   background-color: var(--footer-bg-color);
   font-size: 10px;
   padding: 15px;
   height: 150px;
   width: 100%;
}

.nav {
    justify-content: space-around;
}

footer social {
    flex: none;
    flex-direction: row-reverse;
}

header {
    background-color: white;
}
header .nav {
    padding: 5px;
    height: 50px;
}

header .nav ul {
    margin: -5px;
}
header .logo {
    height: 50px;
}
.social {
    min-width: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse;
    max-width: 30%;
}